body {
    margin: 0;
    background-image: url("../imatges/institut_sa_palomera_cover.jpg");
    background-color: #D9D9D9;
    font-family: Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

h1 {
  color:white;
  text-align: center;
}

h2 {
  color:white;
  text-align: left;
  margin: 0;
  margin-left: 4%;
  margin-top: 4%;
  font-style: italic;
}

#mainbody {
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    background-color:#D9D9D9;
    border: solid #3B3B3B 4px;
    border-radius: 12px;
}

.barranav {
    overflow: hidden;
    background-color: #3B3B3B;
}

.barranav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.barranav a:hover {
  background-color: #000080;
  font-weight: bold;
}

.barranav a.active {
  background-color: #0E0E55;
  font-weight: bold;
}

#quicklook {
    margin: 20px auto;
    display: table;
    border-spacing: 0; 
    border: 2px solid #3B3B3B;
    border-radius: 12px; 
    overflow: hidden;    
    table-layout: fixed; 
    background-color: #f2f2f2; 
}

#quicklook th, #quicklook td {
    border: 1px solid #3B3B3B;
    padding: 10px;
    text-align: center;
}

#resultadoholder {
    width: 150px;       
    height: 50px;      
    min-width: 150px;
    vertical-align: middle;
}

button {
  background-color: #4A4A4A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #000080;
}

#fecha {
  text-align:center;
  color: white;
}

#tablarecientes {
    margin: 20px auto;
    display: table;
    border-spacing: 0; 
    border: 2px solid #3B3B3B;
    border-radius: 12px; 
    overflow: hidden;    
    table-layout: fixed; 
    background-color: #f2f2f2; 
}

#tablarecientes th, #tablarecientes td {
    border: 1px solid #3B3B3B;
    padding: 10px;
    text-align: center;
}