#consulta {
    margin: 20px auto;
    display: table;
    border-spacing: 0; 
    border: 2px solid #3B3B3B;
    border-radius: 12px; 
    overflow: hidden;    
    table-layout: fixed; 
    background-color: #f2f2f2; 
}

#consulta th, #consulta td {
    border: 1px solid #3B3B3B;
    padding: 10px;
    text-align: center;
}

#consultafondo {
    margin-top: 15%;
}

#consultafecha {
    margin: 20px auto;
    display: table;
    border-spacing: 0; 
    text-align: center;
}

input {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  font-size: 15px;
}

@media (max-width: 768px) {
    #relleno {
        grid-template-columns: 1fr;
    }
    
    .slider {
        margin: 0 auto;
    }
}

#botonsub {
  background-color: #4A4A4A;
}

#botonsub:hover {
  background-color: #000080;
  font-weight: bold;
}

.contenedor-tablas {
    display: flex;          
    justify-content: center;
    gap: 20px;              
    flex-wrap: wrap;        
    margin: 0 auto;
    max-width: 90%;
}

#consulta {
    margin: 20px 0; 
}